@function font($level: 0) {
  @if $level < 0 {
    $level: 0;
  }
  @return $baseSize + $sizeLevel * round($level);
}

@mixin font-SizeColor($level: 0, $color: $secondColor) {
  $size: font($level);
  font-size: $size;
  color: $color;
}

@mixin d-flex($justify: center, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin d-flex($justify: center, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin p-line($fontSize: 14px) {
  font-weight: 700;
  border-top: #eeeeee 1px solid;
  position: relative;
  font-size: $fontSize;
  &::before {
    content: '';
    position: absolute;
    top: -1px;
    left: 0;
    height: 1px;
    width: 6px;
    background: #000;
  }
}

%ViewBtn {
  @include d-flex(space-between);
  text-align: left;
  border-radius: 4px;
  width: 54.3%;
  max-height: 60px;
  height: 60px;
  margin-top: 55px;
  background: #fff;
  border: 1px solid #eeeeee;
  padding: 0px 30px 0px 40px;
}

%layout {
  max-width: 1320px;
  margin: 0 auto;
  position: relative;
}

.header {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-size: cover;
  background-position: cover;
  background-repeat: no-repeat;
  background-image: url(../img/headerbg.jpg);
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
  &-cover {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }

  &-inner {
    margin: 0 auto;
    max-width: 1320px;
    height: 100%;
    padding: 0 4.12%;
    box-sizing: content-box;
    position: relative;
    z-index: 1;
    > h1 {
      position: absolute;
      top: 0;
      left: 0;
      line-height: 0;
      max-width: 106px;
      width: 7.3611111111%;
      margin: 2.08% 0 0 2.08%;
      > img {
        width: 100%;
      }
    }
    &__info {
      position: absolute;
      left: 120px;
      margin-bottom: 120px;
      bottom: 0;
      > p {
        color: #fff;
        font-size: 16px;
        font-family: aktiv-grotesk, sans-serif;
        font-weight: 700;
        font-style: normal;
        padding-left: 60px;
        position: relative;
        margin-bottom: 35px;
        &::before {
          content: '';
          position: absolute;
          top: 50%;
          left: 0;
          height: 2px;
          width: 40px;
          background-color: #fff;
        }
      }
      > h2 {
        color: #fff;
        font-size: 42px;
        font-weight: 700;
        font-style: normal;
        line-height: 1.4;
        margin-bottom: 10px;
      }
      > a {
        @extend %ViewBtn;
        > p {
          font-size: 16px;
          font-family: aktiv-grotesk, sans-serif;
          font-weight: 700;
          line-height: 1;
          letter-spacing: 0.02rem;
        }
      }
    }
    &__ohh {
      @include d-flex(flex-star);
      position: absolute;
      top: 20px;
      right: 0;
      max-width: 440px;
      width: 440px;
      height: 100px;
      z-index: 3;
      background-color: #fff;
      &__info {
        @include d-flex(center, flex-star);
        flex-direction: column;
        width: 55%;
        height: 100%;
        background-color: #000000;
        > h3 {
          color: #fff;
          font-weight: 700;
          font-style: normal;
          font-size: 14px;
          margin-bottom: 12px;
          letter-spacing: 0;
          padding-left: 30px;
        }
        > p {
          color: #a3a3a3;
          font-weight: 700;
          font-size: 11px;
          line-height: 1.5;
          letter-spacing: 0;
          padding-left: 30px;
        }
      }
      &__img {
        width: 45%;
        height: 100%;
        position: relative;
        > img {
          height: 100%;
        }
        > span {
          @include d-flex();
          width: 20px;
          height: 20px;
          border-radius: 50%;
          background-color: #fff;
          position: absolute;
          top: 50%;
          right: 20px;
          transform: translateY(-50%);
          font-size: 14px;
        }
      }
    }
  }
}

.menu {
  @include d-flex(space-between);
  width: 100%;
  min-height: 80px;
  height: 80px;
  display: flex;
  border-bottom: 1px solid #eeeeee;
  &-inner {
    @include d-flex();
    > h1 {
      width: 56px;
      max-width: 56px;
      margin-left: 30px;
      margin-right: 60px;
    }
    > ul {
      @include d-flex();
      font-size: 14px;
      font-weight: 700;
      > li {
        margin-right: 40px;
        cursor: pointer;
      }
    }
  }
  &-bottom {
    @include d-flex(space-between);
    width: 426px;
    height: 100%;

    &__btn {
      display: flex;
      height: auto;
      border-radius: 3px;
      margin-right: 24px;
      padding: 12px 12px 12px 16px;
      border: #eeeeee 1px solid;
      align-items: center;
      > p {
        font-size: 12px;
        font-weight: 700;
        white-space: nowrap;
        margin-right: 34px;
      }
      > img {
        width: 16px;
      }
    }
    &__icon {
      @include d-flex();
      background: #fff;
      width: 100%;
      height: 100%;
      border-left: #eeeeee 1px solid;
      position: relative;
      & .star {
        position: absolute;
        top: 25%;
        left: 65%;
        font-size: 10px;
        color: #fff;
        font-weight: 700;
        z-index: 1;
        &::before {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          z-index: -1;
          transform: translate(-50%, -50%);
          width: 16px;
          height: 16px;
          border-radius: 50%;
          background-color: #189add;
        }
      }
      & .line {
        position: absolute;
        width: 16px;
        height: 2px;
        background-color: #000;
        &:first-child {
          margin-top: 13px;
        }
        &:last-child {
          margin-bottom: 13px;
        }
      }
    }
  }
}

.about {
  width: 100%;
  position: relative;
  padding-top: 120px;
  padding-bottom: 140px;
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    max-height: 140px;
    height: 18.6vw;
    background-color: #f5f5f5;
    z-index: 1;
  }
  &-content {
    @extend %layout;
    &__info {
      padding: 0 4%;
      width: 45%;
      margin-bottom: 40px;
      > h2 {
        font-size: 36px;
        margin-bottom: 60px;
        font-weight: 700;
      }
      > p {
        @include p-line(16px);
        padding-top: 15px;
        padding-bottom: 50px;
        line-height: 1.8;
      }
      > a {
        @extend %ViewBtn;
        margin-top: 0;
        background: #000;
        color: white;
        font-weight: 700;
      }
    }
    &__img {
      position: absolute;
      z-index: 2;
      width: 50%;
      max-width: 720px;
      top: 50%;
      right: 0;
      transform: translate(0px, -50%);
      > img {
        width: 100%;
      }
    }
  }
}

.feature {
  width: 100%;
  position: relative;
  padding-bottom: 140px;
  background-color: #f5f5f5;

  &-content {
    @extend %layout;

    &__info {
      padding: 0 4%;
      > h2 {
        font-size: 36px;
        margin-bottom: 60px;
        font-weight: 700;
      }
      > p {
        @include p-line();
        padding-top: 20px;
        padding-bottom: 40px;
      }
      &__lists {
        display: flex;
        > a {
          margin-top: 0;
          font-weight: 700;
          display: flex;
          justify-content: space-between;
          margin-right: 40px;
          padding-bottom: 40px;
          width: 579px;
          border-bottom: #eeeeee 1px solid;

          & .info__img {
            position: relative;
            width: 45%;
            > img {
              position: absolute;
              width: 100%;
              font-family: 'object-fit: contain;';
              object-fit: cover;
              border-radius: 3px;
              top: 0;
              left: 0;
            }
          }
          & .info__meg {
            width: 50%;
            margin-top: -5px;
            > h4 {
              font-size: 18px;
              font-weight: 700;
              line-height: 1.4;
              margin-bottom: 10px;
            }
            > p {
              font-size: 14px;
              line-height: 1.4;
              margin-bottom: 10px;
              font-weight: 700;
              color: #a3a3a3;
            }
            > span {
              letter-spacing: 0.04rem;
              font-size: 11px;
              font-weight: 500;
              font-style: italic;
              margin-right: 12px;
              line-height: 1.4;
              color: #0099e0;
            }
          }
        }
      }
    }

    &__btn {
      display: flex;
      justify-content: flex-end;
      margin: 40px 0;
      width: 100%;
      white-space: nowrap;
      overflow: visible;
      padding: 0 4.12%;
      > i {
        margin-right: 50px;
        font-size: 60px;
      }
    }
  }
}

.Search {
  width: 100%;
  position: relative;
  padding-bottom: 140px;
  background-color: #f5f5f5;

  &-content {
    @extend %layout;

    &__info {
      padding: 0 4%;
      > h2 {
        font-size: 36px;
        margin-bottom: 60px;
        font-weight: 700;
      }
      > p {
        @include p-line();
        padding-top: 20px;
        padding-bottom: 40px;
      }
      &__lists {
        display: flex;
        > a {
          margin-top: 0;
          font-weight: 700;
          display: flex;
          justify-content: space-between;
          margin-right: 40px;
          padding-bottom: 40px;
          width: 579px;
          border-bottom: #eeeeee 1px solid;

          & .info__img {
            position: relative;
            width: 45%;
            > img {
              position: absolute;
              width: 100%;
              font-family: 'object-fit: contain;';
              object-fit: cover;
              border-radius: 3px;
              top: 0;
              left: 0;
            }
          }
          & .info__meg {
            width: 50%;
            margin-top: -5px;
            > h4 {
              font-size: 18px;
              font-weight: 700;
              line-height: 1.4;
              margin-bottom: 10px;
            }
            > p {
              font-size: 14px;
              line-height: 1.4;
              margin-bottom: 10px;
              font-weight: 700;
              color: #a3a3a3;
            }
            > span {
              letter-spacing: 0.04rem;
              font-size: 11px;
              font-weight: 500;
              font-style: italic;
              margin-right: 12px;
              line-height: 1.4;
              color: #0099e0;
            }
          }
        }
      }
    }

    &__btn {
      display: flex;
      justify-content: flex-end;
      margin: 40px 0;
      width: 100%;
      white-space: nowrap;
      overflow: visible;
      padding: 0 4.12%;
      > i {
        margin-right: 50px;
        font-size: 60px;
      }
    }
  }
}
